@import "../../../constant/color.scss";

.roadmap__content__card {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  border: 2px solid $border-color;
  border-radius: 16px;
  gap: 1rem;
  
  p {
    line-height: 1.3rem;
  }
  div:nth-child(1) {
    flex: 3;
    h2 {
      margin-bottom: 1rem;
    }
    a {
      button {
        color: $white;
        margin-top: 1.4rem;
        border-radius: 16px;
        border: none;
        background-color: $primary-color;
        &:hover {
            color: $white!important;
        }
      }
    }
  }

  div:nth-child(2) {
    flex:1;
    img {
      border-radius: 50%;
      border: 6px solid $primary-color;
      padding: 8px;
      width: 100%;
    }
  }
}
