@import "../../constant/color.scss";
.roadmap__intro {
  h1 {
    font-weight: 700;
    margin-bottom: 3rem;
  }
  p {
    font-size: 1rem;
  }
}

.roadmap__content {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;

  .roadmap__content__card {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    width: 30rem;
    border: 2px solid $border-color;
    border-radius: 16px;
    gap: 1rem;

    div:nth-child(1) {
      h2 {
        margin-bottom: 1rem;
      }
      button {
        margin-top: 1.4rem;
        padding: 12px 18px;
        border-radius: 16px;
        border: none;
        background-color: $primary-color;
        a {
          color: $white;
        }
      }
    }

    div:nth-child(2) {
      width: 24rem;
      img {
        border-radius: 50%;
        border: 6px solid $primary-color;
        padding: 8px;
        width: 100%;
      }
    }
  }
}

.roadmap__community {
  display: flex;
  margin-top: 10rem;
  justify-content: space-between;
  align-items: center;
  div:nth-child(1) {
    width: 28rem;

    h1 {
      margin-bottom: 1.5rem;
    }
    button {
      margin-top: 1.5rem;
      padding: 12px 20px;
      border: 2px solid $black;
      border-radius: 16px;
      background-color: transparent;
      a{
        color: $black;
      }
    }
  }
  div:nth-child(2) {
    position: relative;
    width: 30rem;
    img {
        width: 100%;
    }
  }
}
