@import "../../../constant/color.scss";

.blogs__title {
  display: flex;
  justify-content: space-between;
  a:nth-child(1) {
    text-decoration: none;
    color: $black;
    font-size: 1.5rem;
    font-weight: bold;
  }

  a:nth-child(2) {
    color: $primary-color;
    font-size: 1rem;
  }
}

.blogs__list {
  .blogs__list__slider{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }
 
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .blogs__list__slider {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 0.5rem;
    flex-wrap: nowrap!important;
  }

  .blogs__list__slider::-webkit-scrollbar {
    height: 3px;
    width: 10px;
  }

  .blogs__list__slider::-webkit-scrollbar-thumb {
    background-color: $icon;
    border-radius: 12px;
  }
}
@media screen and (max-width: 767px) {
  
  .blogs__list{
    .blogs__list__slider {
      flex-wrap: nowrap!important;
      overflow-x: auto;
      white-space: nowrap;
      padding-bottom: 0.5rem;

      .blogs__list__items__img{
        height: 7rem;
      }
    }
  }
 

  .blogs__list__slider::-webkit-scrollbar {
    height: 3px;
    width: 10px;
  }

  .blogs__list__slider::-webkit-scrollbar-thumb {
    background-color: $icon;
    border-radius: 12px;
  }
  .blogs__list {
    .blogs__list__items {
      h3 {
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        color: #292929;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}