@import "../../../constant/color.scss";
.blognav__item {
  margin-top: 2rem;
  width: 90%;
  padding: 1.3rem 1.5rem;
  border: 2px solid $border-color;
  border-radius: 16px;
  .blognav__item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
    .item__header__user {
      display: flex;
      align-items: center;
      gap: 0.7rem;
      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }
    }
    .item__header__icon {
      display: flex;
      gap: 0.8rem;
      align-items: center;
      font-size: 1.2rem;
    }
  }
  .blognav__item__content {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1rem;
      margin: 0.8rem 0;
    }
    img {
      width: 13rem;
      height: 7rem;
      border-radius: 8px;
    }
  }

  .blognav__item__footer {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    button {
      cursor: pointer;
      border-radius: 12px;
      padding: 6px 10px;
      border: none;
      background-color: $border-color;
    }
  }
}
