@import "../../../constant/color.scss";
#blognav {
  .blognav__content {
    ul {
      margin-top: 1.7rem;
      text-align: center;
      li:nth-child(4) {
        border: none;
        background-color: $primary-color;
        a {
          color: white;
        }
      }
    }

    .blog__nav__tags {
      margin-top: 3rem;
      h3 {
        color: $icon;
        margin-bottom: 1.4rem;
      }

      .blog__nav__tags__list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.6rem;
        button {
          cursor: pointer;
          border-radius: 12px;
          padding: 10px 14px;
          border: none;
          background-color: $border-color;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #blognav {
    margin-left: 1.2rem !important;
    margin-right: 1.5rem !important;
    .blognav__content {
      .blognav__item {
        width: 100%;
      }
    }
  }
  .blognav__content {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 767px) {
  #blognav {
    margin-left: 1rem !important;
    margin-right: 1.5rem !important;

    .blognav__content {
      .blognav__item {
        width: 100%;
        .blognav__item__content {
          margin-top: 1rem;
          align-items: flex-start;
          flex-direction: column-reverse;
         
        }
      }
    }
  .blognav__item__footer {
 gap: 1rem;
  }
  }
}
