$primary-color: #f05123;
$white: #fff;
$border-color: #e8e8e8;
$black: #000;
$blue: #1473e6;
$icon: #404040;
$list_item: #e8ebed;
$footer_bg: #181821;
$footer_color: #a9b3bb;
$login_text: #292929;
$des_color: #0000008a