@import "../../constant/color.scss";

@mixin btn {
  color: $white;
  background-color: $primary-color;
}

.header {
  left: 0;
  right: 0;
  background-color: $white;
  position: fixed;
  padding: 1rem 2.5rem 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $border-color;
  z-index: 10;
  div:nth-child(1) {
    display: flex;
    align-items: center;
    img {
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 12px;
    }
  }
  div:nth-child(2) {
    .header__search {
      border: 2px solid $border-color;
      border-radius: 20px;
      height: 2.6rem;
      width: 26rem;
      &:hover {
        border-color: $black !important;
      }
    }

    .header_outline {
      display: none;
    }

    .header__search__menu {
      z-index: 50;
      box-shadow: 0 -4px 32px rgba(0, 0, 0, 0.2);
      top: 3.3rem;
      width: 26rem;
      background-color: $white;
      position: absolute;
      border-radius: 10px;
      padding: 16px 20px;
      div:nth-child(1) {
        color: $des_color;
        span:nth-child(2) {
          margin-left: 0.4rem;
        }
      }
      .search__menu__title {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        h4 {
          color: $icon;
        }
        a {
          text-decoration: none;
          color: $des_color;
          &:hover {
            color: $primary-color;
          }
        }
      }
      .search__menu__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.8rem;
        margin-bottom: 0.7rem;
        color: $icon;
        text-decoration: none;
        img {
          border-radius: 50%;
          height: 2.3rem;
          width: 2.3rem;
        }
      }
    }
  }
}
.header__search-icon {
  display: none;
}

.header__btn-login {
  @include btn;
  border-radius: 999px;
  cursor: pointer;
  font-weight: 600;
  width: 8rem;
  height: 2.5rem;
  font-size: 1rem;
  line-height: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding-right: 1.5rem;
    div:nth-child(1) {
      display: none;
    }
    div:nth-child(2) {
      .header_outline {
        font-size: 1.6rem;
        display: inline-block;
        margin-right: 2rem;
      }
    }
  }
  .header__search__menu {
    left: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-right: 1.2rem;

    div:nth-child(1) {
      display: none;
    }
    div:nth-child(2) {
      .header_outline {
        font-size: 1.6rem;
        display: inline-block;
        margin-right: 2rem;
      }
      .header__search {
        display: none;
      }
    }
    .header__search-icon {
      font-weight: bold;
      font-size: 1.4rem;
      color: $icon;
      display: inline-block;
    }
  }
}
