@import "../../../constant/color.scss";
#landingContent {
  margin-top: 12rem;
  padding: 32px 64px;
  background-color: #161b22;
  border-radius: 1rem;
  box-shadow: 0 0 0 1px #000, 0 30px 30px rgb(0 0 0 / 7%),
    0 15px 15px rgb(0 0 0 / 6%), 0 10px 8px rgb(0 0 0 / 5%),
    0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
  h1 {
    color: $white;
    font-size: 2.6rem;
    margin-bottom: 1.7rem;
  }
  p {
    width: 70%;
    font-size: 1.3rem;
    color: $landing_text;
  }
  div {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    color: $white;
    display: flex;
    ul {
        font-size: 1rem;
        padding-left: 16px;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        li {
            color: #c9d1d9;
        }
    }
  }

  .landingContent__footer {
    width: 70%;
    font-size: 1rem;
    color: $landing_text;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 768px) {
  #landingContent {
    padding: 1.5rem ;
    h1 {
      font-size: 2rem;
    }
    p{
      width: 100%;
      font-size: 1.1rem;
      line-height: 1.7rem;
    }
  }
  
}
