@import "../../constant/color.scss";
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 95px;
  gap: 0.8rem 0;
  padding: 0 4px;
  position: fixed;
}

.sidebar__icon {
  font-size: 1.5rem;
  color: $white;
  background: $blue;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
}

.sidebar__list {
  list-style: none;
  a {
    color: $icon;
  }
  li {
    text-align: center;
    margin: 0.2rem 0;
    width: 72px;
    padding: 1rem 0;
    border-radius: 1rem;
    

    img {
      filter: invert(20%);
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover img {
      filter: none;
    }
    &:hover {
      background-color: $list_item;
      color: $black;
    }
  }

  li.active {
    background-color: $list_item;
    color: $black;
    img {
      filter: none;
    }
  }

  span {
    display: block;
  }
}
