@import "../../../constant/color.scss";
#landingHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5.8rem;
  .landing_logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    img {
      width: 3rem;
      height: 3rem;
      border-radius: 6px;
    }
    span {
      line-height: 1.4rem;
    }
  }
  .landing_menu {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    a {
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #landingHeader {
    .landing_logo{
      img {
        width: 2.5rem;
        height: 2.5rem;
      }
      span {
        font-size: 0.8rem;
      }
    }
    .landing_menu{
      display: none;
    }
  }
 
}
@media screen and (max-width: 767px) {
  #landingHeader {
    .landing_logo{
      img {
        width: 2.5rem;
        height: 2.5rem;
      }
      span {
        font-size: 0.8rem;
      }
    }
    .landing_menu{
      display: none;
    }
  }
}