@import "../../../constant/color.scss";
#landingCard {
  color: $white;
  background-color: $landing_float;
  padding: 32px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  height: 451px;
  p {
    text-align: left;
    font-size: 1.7rem;
    line-height: 2.7rem;
  }

  .landingCard__user {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }
    div {
        gap: 0.3rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      span:nth-child(1) {
        font-size: 1.2rem;
      }

      span:nth-child(2) {
        margin: 0;
        font-size: 0.8rem;
        color: $landing_text;
      }
    }
  }
}
